// ==============================================================================================================================
// FONTS
// ============================================================================================================================== 
@import './assets/fonts/sodosans.css';
$Sodo-Sans: 'SodoSans', sans-serif;

// ==============================================================================================================================
// COLORS
// ============================================================================================================================== 
$white-color: #ffffff;
$black-color: #000000;
$black-light-color: rgba(0, 0, 0, .87);
$green-starbucks-color: #008248;
$green-accent-color: #1e3932;
$green-light-color: #D4E9E2;
$green-very-light-color: #F1F8F5;
$gold-color: #cba258;
$ceramic-color: #f1f8f6;
$green-light-color: #d4e9e2;
$gold-lightest-color: #f3f1e7;

// ==============================================================================================================================
// TRANSITIONS
// ============================================================================================================================== 
$transition-100: all 100ms ease;
$transition-200: all 200ms ease;
$transition-300: all 300ms ease;
$transition-400: all 400ms ease;
$transition-500: all 500ms ease;
$transition-600: all 600ms ease;