// ==============================================================================================================================
// IMPORTS
// ============================================================================================================================== 
@import 'vars';
@import 'components/navigation';
@import 'components/hero';
@import 'components/gettingstarted';

// ==============================================================================================================================
// GENERALS
// ============================================================================================================================== 
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Sodo-Sans;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 200vh;
    font-size: 1.6rem;
    letter-spacing: -0.01rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt";
    background-color: $black-color;
}

.App {

    &__header {
        position: relative;
        color: $white-color;
        background-color: $green-accent-color;

        &__title__container {

            &__title {
                margin-left: 8rem;
                padding: 1.8rem 12rem;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
    }
}